<div class="screenHeader" ng-cloak>
    <!--filter starts here-->
    <div class="row">
        <div class="col-md-1 col-xs-4 col-sm-2 pull-right tableFilterContainer">
            <select name="tableFilter" class="tableFilter" ng-model="tableFilter" ng-options="filter as filter for filter in tableFilterOptions"></select>
        </div>
    </div>
    <!--filter ends here-->
    <!--Table detail starts here-->
    <div class="row">
        <div class="col-md-3 col-sm-6" ng-repeat="table in tables | filter:tableFilterFunction | orderBy : 'tableNumber'">
            <div ng-hide="table.isAvailable" class="table tableOccupied">
                <div class="media">
                    <div class="media-left tableNo">
                        <div class="media-object">{{table.tableNumber}}</div>
                    </div>
                    <div class="media-body tableDetail">
                        <div>Occupancy<span class="label label-success pull-right">{{table.occupancy}}</span></div>
                        <div>Status<span class="label label-info pull-right">{{table.status}}</span></div>
                        <div>Occupied For<span class="label label-warning pull-right">{{table.tableOccupiedDuration}}</span></div>
                    </div>
                </div>
            </div>
            <div ng-show="table.isAvailable" class="table tableAvailable">
                <div class="media">
                    <div class="media-left tableNo">
                        <div class="media-object">{{table.tableNumber}}</div>
                    </div>
                    <div class="media-body tableDetail">
                        <div>Occupancy<span class="label label-success pull-right">{{table.occupancy}}</span></div>
                        <br>
                        <button class="btn btn-success assignButton" ng-click="assign(table.tableNumber)">Assign</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
