<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
    <div class="dishName">
        <h4 class="modal-title"><span><img ng-src = "{{menuItem.isVeg && '../../../../assets/images/veg.png' || '../../../../assets/images/non-veg.png'}}">&nbsp;</span>{{menuItem.name}}</h4>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 dishDetail text-left">
                    <p>{{menuItem.description}}</p>
                </div>
            </div>
            <div class="row priceAndQuantity">
                <div class="col-xs-5 price pull-left">
                    <div>Price&nbsp;:&nbsp;&#8377;{{menuItem.price}}</div>
                </div>
                <div class="col-xs-4 quantityWrapper text-right pull-right">
                    <div>
                        <span ng-click="decreaseQuantity()" class="glyphicon glyphicon-minus"></span>
                        <input class="quantityValue" type="text" ng-model="itemQuantity"/>
                        <span ng-click="increaseQuantity()" class="glyphicon glyphicon-plus"></span>
                    </div>
                </div>
            </div>
            <br>
            <div class="row customisationCheckbox">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="row text-center">
                        <div class="col-xs-4">
                            <input type="checkbox">
                            <lable>Mild</lable>
                        </div>
                        <div class="col-xs-4">
                            <input type="checkbox">
                            <lable>Medium</lable>
                        </div>
                        <div class="col-xs-4">
                            <input type="checkbox">
                            <lable>Hot</lable>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <textarea class="customisationComment" placeholder="Would you like to customize this dish..."></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button id="addButton" class="btn" ng-click="ok()">Add To Cart</button>
</div>