<div class="screenHeader2" ng-cloak>
        <!--row starts here-->
        <div class="row contentRow">
            <!--column one starts here-->
            <div class="col-md-5 col-sm-5 col-xs-12 orderCartwrapperMain">
                <div class="row">
                    <!-- cart starts -->
                    <div class="col-sm-12">
                        <div class="orderCartWrapperInner">
                            <div class="row orderCartSection">
                                <div class="col-md-12 col-sm-12 ">
<!--                                    <div class="orderCartTitle">Your Order</div>-->
                                    <div class="btn btn-default backToMenu" ng-click="toMenu();">Back To Menu</div>
                                    <div class="pull-right"
                                         angucomplete-alt id="trackCartSearch"
                                         placeholder="Search menu"
                                         pause="100"
                                         selected-object="countrySelected"
                                         local-data="menuItems"
                                         search-fields="name"
                                         title-field="name"
                                         description-field="price"
                                         image-field="isVeg"
                                         minlength="1"
                                         input-class="form-control form-control-small"
                                         match-class="highlight"
                                         clear-selected="true"
                                         focus-in="focusIn()"
                                         focus-out="focusOut()">
                                    </div>
                                </div>
<!--
                                <div class="col-md-6 col-sm-6 text-right">
                                    <input class="cartSearch" placeholder="Search Menu">
                                </div>
-->
                            </div>
                            <hr class="cartHr">
                            <div class="row secondOrderCartSection">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="updateCartItemWrapper" ng-repeat="value in cartItems | orderBy:'name'">
                                                <div class="row updateCartItem">
                                                    <div class="col-md-12">
                                                        <div class="row orderCartItemName">
                                                            <div class="col-md-12">{{value.name}}</div>
                                                        </div>
                                                        <div class="row updateCartItemDetails">
                                                            <div class="col-md-4 col-sm-5 updateCartItemQuantity">
                                                                <button class="orderQuantityButton">-</button>
                                                                <input class="orderQuantityIndicator" value="{{value.quantity}}" readonly/>
                                                                <button class="orderQuantityButton">+</button>
                                                            </div>
                                                            <div class="col-md-4 col-sm-4 updateCartItemRate">x{{value.rate}}</div>
                                                            <div class="col-md-4 col-sm-3 text-right updateCartItemAmount">&#8377;{{value.rate * value.quantity}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="orderCartItemSeperator">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="orderCartHr">
                            <div class="row orderCartFooter">
                                <div class="orderCartFooterInnerWrapper col-md-12">
                                    <div class="row orderCartSubtotal">
                                        <div class="col-md-6 col-sm-6">Subtotal</div>
                                        <div class="col-md-6 col-sm-6 text-right">&#8377;{{subtotal}}</div>
                                    </div>
                                    <div class="row orderCartUpdate">
                                        <div class="col-md-12">
                                            <button class="text-center orderCartButton">UPDATE CART</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 recommendedMenuItems">
                                    <div class="row">
                                        <div class="col-md-12 itemsRecommended">
                                            Recommended Items
                                        </div>
                                    </div>
                                    <div class="row recommended1">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <span class="badge badgeStyle green">+ Coke</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <span class="badge badgeStyle green">+ Cheese French Fries</span>
                                        </div>
                                    </div>
                                    <div class="row recommended2">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <span class="badge badgeStyle green">+ Coke</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <span class="badge badgeStyle red">+ Chicken Sandwich</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- cart ends -->
                </div>
            </div>
            <!--column one ends here-->

            <!--vertical line column start here-->
            <div class="col-md-1 col-md-offset-1  hidden-xs col-xs-1 verticalPartition">
                <div class="row">
                    <div class="col-md-12 col-md-offset-1">
                        <p class="verticalLine"></p>
                    </div>
                </div>
            </div>
            <!--vertical line column ends here-->

            <!--column two starts here-->
            <div class="col-md-3 col-sm-5 col-sm-offset-1 col-md-offset-1 col-xs-10 col-xs-offset-1 mediaXsClass trackOrderStages">
                <!--trackOrder row starts here-->
                <div class="row marginXsScreen">
                    <div class="trackOrderWrapper">
                        <div class="col-md-12">
                            <div class="row center-block">
                                <div class="row trackOrderIcon">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="iconPlaced iconOrderPlaced"></div>
                                    </div>
                                    <div class="col-md-8 orderPlaced">
                                        <div class="orderPlacedWrapper">
                                            <div class="orderPlacedWrapperInner">
                                                Order Placed
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 wrapVerticalLine">
                                        <div class="">
                                            <div class="verticalLineSteps"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="iconPrepared iconOrderPrepared"></div>
                                    </div>
                                    <div class="col-md-8 orderPlaced">
                                        <div class="orderPreparedWrapper">
                                            <div class="orderPlacedWrapperInner">
                                                Prepared
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 wrapVerticalLine">
                                        <div class="">
                                            <div class="verticalLineSteps"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="iconServed iconOrderServed"></div>
                                    </div>
                                    <div class="col-md-8 orderPlaced">
                                        <div class="orderServedWrapper">
                                            <div class="orderPlacedWrapperInner">
                                                Served
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 wrapVerticalLine">
                                        <div class="">
                                            <div class="verticalLineSteps"></div>
                                        </div>
                                    </div>
                                </div>
                                <div ui-sref="buildOrder.feedback" class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="iconCompleteOrder iconOrderComplete"></div>
                                    </div>
                                    <div class="col-md-8 orderPlaced">
                                        <div class="orderCompleteWrapper">
                                            <div class="orderPlacedWrapperInner">
                                                Complete Order
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Trorderrder row starts here-->
            </div>
            <!--column two ends here-->
        </div>
        <!--row ends here-->
</div>
